NET "CLK50_in" LOC = F22 | IOSTANDARD="LVCMOS33" | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

#CMOS OV7670
NET "OV7670_PWDN"    LOC = "AD23"  | IOSTANDARD="LVCMOS33";
NET "OV7670_RESET"   LOC = "AD24"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<0>"    LOC = "AB22"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<1>"    LOC = "AC22"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<2>"    LOC = "AB21"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<3>"    LOC = "AC21"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<4>"    LOC = "AF24"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<5>"    LOC = "AF25"  | IOSTANDARD="LVCMOS33";
NET "OV7670_D<6>"    LOC = "Y22"   | IOSTANDARD="LVCMOS33";
NET "OV7670_D<7>"    LOC = "AA22"  | IOSTANDARD="LVCMOS33";
NET "OV7670_XCLK"    LOC = "V21"   | IOSTANDARD="LVCMOS33";
NET "OV7670_PCLK"    LOC = "W21"   | IOSTANDARD="LVCMOS33";
NET "OV7670_HREF"    LOC = "AE23"  | IOSTANDARD="LVCMOS33";
NET "OV7670_VSYNC"   LOC = "AF23"  | IOSTANDARD="LVCMOS33";
NET "OV7670_SIOD"    LOC = "AE22"  | IOSTANDARD="LVCMOS33";
NET "OV7670_SIOC"    LOC = "AF22"  | IOSTANDARD="LVCMOS33";
NET "OV7670_PCLK"    CLOCK_DEDICATED_ROUTE = FALSE;

########LED Pin define#####################
NET led<0>            LOC = J26 | IOSTANDARD = "LVCMOS33";       ## LED2
NET led<1>            LOC = H26 | IOSTANDARD = "LVCMOS33";       ## LED3

########KEY Pin define#####################
NET key<0>            LOC = AF9  | IOSTANDARD = "LVCMOS18";       ## KEY2 (SW2)
NET key<1>            LOC = AF10 | IOSTANDARD = "LVCMOS18";       ## KEY3 (SW3)

# LCD AN430
NET "AN430_blue<0>"       LOC = W26  | IOSTANDARD="LVCMOS33";
NET "AN430_blue<1>"       LOC = W25  | IOSTANDARD="LVCMOS33";
NET "AN430_blue<2>"       LOC = Y26 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<3>"       LOC = Y25 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<4>"       LOC = W24 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<5>"       LOC = W23 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<6>"       LOC = AC26 | IOSTANDARD="LVCMOS33";
NET "AN430_blue<7>"       LOC = AB26 | IOSTANDARD="LVCMOS33";
NET "AN430_green<0>"      LOC = T23 | IOSTANDARD="LVCMOS33";
NET "AN430_green<1>"      LOC = T22 | IOSTANDARD="LVCMOS33";
NET "AN430_green<2>"      LOC = U25 | IOSTANDARD="LVCMOS33";
NET "AN430_green<3>"      LOC = U24 | IOSTANDARD="LVCMOS33";
NET "AN430_green<4>"      LOC = V24 | IOSTANDARD="LVCMOS33";
NET "AN430_green<5>"      LOC = V23 | IOSTANDARD="LVCMOS33";
NET "AN430_green<6>"      LOC = V26 | IOSTANDARD="LVCMOS33";
NET "AN430_green<7>"      LOC = U26 | IOSTANDARD="LVCMOS33";
NET "AN430_red<0>"        LOC = M26  | IOSTANDARD="LVCMOS33";
NET "AN430_red<1>"        LOC = N26  | IOSTANDARD="LVCMOS33";
NET "AN430_red<2>"        LOC = N23  | IOSTANDARD="LVCMOS33";
NET "AN430_red<3>"        LOC = P23  | IOSTANDARD="LVCMOS33";
NET "AN430_red<4>"        LOC = P25  | IOSTANDARD="LVCMOS33";
NET "AN430_red<5>"        LOC = R25  | IOSTANDARD="LVCMOS33";
NET "AN430_red<6>"        LOC = R23  | IOSTANDARD="LVCMOS33";
NET "AN430_red<7>"        LOC = R22  | IOSTANDARD="LVCMOS33";
#NET "AN430_hsync"         LOC = AD26  | IOSTANDARD="LVCMOS33";
#NET "AN430_vsync"         LOC = AA24  | IOSTANDARD="LVCMOS33";
NET "AN430_dclk"          LOC = AE26  | IOSTANDARD="LVCMOS33";
NET "AN430_de"            LOC = Y23  | IOSTANDARD="LVCMOS33";
